* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: tan;
}

#cover {
    width: 100%;
    height: 700px;
    background-color: saddlebrown;
    float: left;
}

/* #carasoul img {
    width: 100%;
    background-position: bottom;
}*/


/* --- parallax from: https://www.w3schools.com/howto/howto_css_parallax.asp --- */

#parallax {
  /* The image used */
  background-image: url(images/cover.jpg);

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#parallax2 {
  /* The image used */
  background-image: url(images/cover2.jpg);

  /* Set a specific height */
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* --- scroll down button indicator from: https://www.solodev.com/blog/web-design/adding-a-scroll-down-anchor-to-your-website.stml --- */

.ct-btn-scroll {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 9;
    border-radius: 50%;
    transition: 0.5s;
}

.ct-btn-scroll:hover {
    opacity: 0.7;
    transition: 0.5s;
}


#section02 {
  position: relative;
  width: 100%;
  height: 100%;
}
#section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
}




 #menu {
    width: 300px;
    height: 355px;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    background: rgba(255, 255, 255, 0.0);
} 


/* --- ribbon menu shape from: https://enjoycss.com/ --- */

.ribbon {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 400px;
  border: 150px solid rgba(255, 255, 255, 0.9);
  border-bottom: 40px solid rgba(191,191,191,0);
  -o-text-overflow: clip;
  text-overflow: clip;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}


#menu img {
    width: 38%;
    padding-bottom: 50px;
    padding-top: 50px;
    transition: 0.5s;
} 

#menu img:hover {
    opacity: 0.5;
    transition: 0.5s;
}


li {
    display: block;
    text-align: center;
    line-height: 42px;
}

li a {
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    color: #684F3B;
    transition: 0.3s;
}

li a:hover {
    color: tan;
    transition: 0.3s;
}


/* --- dropdown menu from: https://www.w3schools.com/howto/howto_css_dropdown.asp --- */

.dropbtn {
    line-height: 40px;
  color: #684F3B;
  font-size: 16px;
  border: none;
  cursor: pointer;
    padding-left: 88px;
    padding-right: 80px;
    font-family: 'Alfa Slab One', cursive;
    background-color: rgba(255, 255, 255, 0.0);
    text-align: center;
}

.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
    float: right;
  left: 300px;
    top: 0.3px;
  background-color: rgba(255, 255, 255, 0.9);
  min-width: 160px;
  z-index: 1;
    font-family: 'Alfa Slab One', cursive;
    font-size: 15px;
    
}

.dropdown-content a {
  color: #997258;
  padding: 12px 16px;
    text-align: left;
  text-decoration: none;
  display: block;
    font-family: 'Alfa Slab One', cursive;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background-color: rgba(255, 255, 255, 0);
    color: tan;
    transition: 0.3s;
}


.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.3s;
}

.dropdown:hover .dropbtn {
  color: tan;
  transition: 0.3s;  
}

.dropdown a {
     color: #684F3B;
    text-decoration: none;
    text-align: left;
    transition: 0.3s;
}

.dropdown a:hover {
     color: tan;
    transition: 0.3s;
}

/* --- menu arrows from: https://codepen.io/nxworld/pen/boRVKR --- */

ul {
  margin: 1.5em 2em 1em;
  text-align: center;
  list-style: none;
}
ul + ul {
  margin-top: -1em;
}
ul li {
  display: inline-block;
  margin: 40px;
}

/* arrow common style */
.arrow {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
    margin-right: 10px;
}

.arrow-top {
  transform: rotate(-45deg);
}
.arrow-right {
  transform: rotate(45deg);
    border-color: tan;
}


#award {
    background-color: white;
    width: 100%;
    height: 300px;
    float: left; 
    background-color: #FFF8F3;
}

#award img {
    height: 15px;
    margin-top: 53px;
    margin-bottom: 53px;
    margin-left: 370px;
    margin-right: 370px;
   
}

h2 {
    font-family: 'Bahianita', cursive;
    color: #997258;
    letter-spacing: 5px;
    font-size: 30px;
    text-align: center;
   margin-top: 10px;
    margin-bottom: 10px;
}


#visit {
    background-color: white;
    width: 50%;
    height: 430px;
    float: left;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    
}

#visitphoto {
    background-color: tan;
    width: 50%;
    height: 430px;
    float: right;
    
}

#servephoto {
    background-color: tan;
    width: 50%;
    height: 430px;
    float: left;
    
}

#serve {
    background-color: white;
    width: 50%;
    height: 430px;
    float: right;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

#cause {
    background-color: white;
    width: 50%;
    height: 430px;
    float: left;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

#causephoto {
    background-color: tan;
    width: 50%;
    height: 430px;
    float: right;
    
}

#shopphoto {
    background-color: tan;
    width: 50%;
    height: 400px;
    float: left;
    
}

#shop {
    background-color: white;
    width: 50%;
    height: 400px;
    float: right;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}


#newsletter {
    background-color: #FCE9DD;
    width: 60%;
    height: 355px;
    float: left;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

#newsletter p {
    font-size: 13px;
}



/* --- Newsletter email from: https://www.w3schools.com/howto/howto_css_newsletter.asp --- */

input[type=text] {
  width: 60%;
  padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-right: 50px;
    float: left;
  box-sizing: border-box;
    font-size: 15px;
    margin-bottom: 13px; 
}

input[type=submit] {
  color: #C19784;
    font-family: 'Alfa Slab One', cursive;
    font-size: 13px;
    cursor: pointer;
    border-width: 5px;
    border-style: solid;
    border-color: #C19784;
    background: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 55px;
}

input[type=submit]:hover {
    background-color: #C19784;
    color: white;
}

input[type=text]:focus {
  border: 3px solid #C19784;

}

input:focus, textarea {
    outline: none !important;
}


#followus {
    background-color: #FCE9DD;
    width: 40%;
    height: 355px;
    float: right;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    
}

#followus img {
    width: 35px;
    margin-right: 20px;
    transition: 0.5s;
    
}

#followus img:hover {
    opacity: 0.6;
    transition: 0.5s;
}

footer p {
    font-size: 13px;
    line-height: 150px;
}



p {
    font-family: 'Open Sans', sans-serif;
    color: #2F1D11;
    line-height: 35px;
    font-size: 20px;
}

h1 {
    font-family: 'Bahianita', cursive;
    color: #684F3B;
    letter-spacing: 2px;
    font-size: 40px;
    padding-bottom: 35px;
}


h3 {
    font-family: 'Bahianita', cursive;
    color: #684F3B;
    letter-spacing: 2px;
    font-size: 30px;
    padding-bottom: 35px;
}


p a {
    color: #94653C;
    text-decoration: none;
    font-family: 'Alfa Slab One', cursive;
    font-size: 18px;
    line-height: 150px;
    border-width: 5px;
    border-style: solid;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;

}

p a:hover {
   background-color: #94653C;
    color: white;
    border-style: solid;
        font-size: 18px;
    border-width: 5px;
}


/* --- grit texture mask from: https://www.viget.com/articles/easy-textures-with-css-masks/ --- */

.grit {
  -webkit-mask-image: url("http://support.nature.org/images/earth/assets/grit.png");
  mask-image: url("http://support.nature.org/images/earth/assets/grit.png");
}






/* ABOUT.HTML */



.parallax2 {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 45px;
    font-family: 'Bahianita', cursive;
    color: white;
}



#since2003 {
    width: 100%;
    height: 300px;
    float: left; 
    background-color: #FFF8F3;
}

#since2003 img {
    height: 15px;
    margin-top: 53px;
    margin-bottom: 53px;
    margin-left: 370px;
    margin-right: 370px;
   
}



#exceptionalphoto {
    background-color: tan;
    width: 50%;
    height: 370px;
    float: right;
    
}

#exceptional {
    background-color: white;
    width: 50%;
    height: 370px;
    float: left;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    
}


#roasting {
    background-color: white;
    width: 50%;
    height: 430px;
    float: right;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

#roastingphoto {
    background-color: tan;
    width: 50%;
    height: 430px;
    float: left;
    
}

#flavors {
    width: 100%;
    height: 460px;
    float: left; 
    background-color: #FFF8F3;
    
}

.grid-container {
    display: grid;
    width: 100%;
    line-height: 35px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #997258;
    text-align: left;
    margin-left: 235px;
    grid-column-gap: 50px;
    grid-row-gap: 10px;
    grid-template-columns: 300px 300px 300px;
    
}

.grid-item {
    padding-top: 35px;
    background-color: #FFF8F3;
    color: #997258;
    font-size: 17px;
    
}



.grid-container-2 {
    display: grid;
    width: 100%;
    line-height: 35px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    grid-row-gap: 30px;
    margin-left: 100px;
    grid-template-columns: 550px 550px;
    
}

.grid-item2 {
    padding-top: 35px;
    background-color: #FFF8F3;
    
}

.grid-item2 p {
    color: #997258;
    font-size: 17px;
    text-align: center;
}

.grid-item2 img {
    transition: .5s;
    height: 50px;
}

.grid-item2 img:hover {
    opacity: 0.7;
    transition: .5s;
}




#farming {
    background-color: white;
    
}

#farming img {
    width: 1280px;
}

#direct-trade {
    background-color: white;
    width: 50%;
    height: 350px;
    float: left;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

#sustainable {
    background-color: white;
    width: 50%;
    height: 350px;
    float: right;
    padding-left: 60px;
    padding-top: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}

#fans {
    width: 100%;
    height: 730px;
    float: left; 
    background-color: #FFF8F3;
    
}
